[configuration]
entry_symbol = "swift_entry_point"
compatibility_minimum = 4.2
reloadable = false

[libraries]
ios.debug = "res://bin/ios/debug/HealthKitPlugin.framework"
ios.release = "res://bin/ios/release/HealthKitPlugin.framework"

[dependencies]
ios.debug = {
"res://bin/ios/debug/SwiftGodot.framework": "",
"res://bin/ios/debug/LocationPlugin.framework": "",
"res://bin/ios/debug/MapViewPlugin.framework": ""
}
ios.release = {
"res://bin/ios/release/SwiftGodot.framework": "",
"res://bin/ios/release/LocationPlugin.framework": "",
"res://bin/ios/release/MapViewPlugin.framework": ""
}
